@use "variables";

pre,
code {
    font-family: variables.$monospaced;
}

code {
    background-color: variables.$grey;
    border-radius: 3px;
    color: variables.$code-color;
    // font-size: 85%;
    padding: 0.25em 0.5em;
}

pre {
    margin: 0 0 1rem;
    overflow: auto;

    padding: 0.25rem 0.5rem;
    overflow: auto;
    border-radius: 5px;
}

pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    font: variables.$monospaced;
    border: 0;
    line-height: 1;
}

pre[data-linenos] {
    padding: 1rem 0;
    padding: 0;
}
pre table td {
    padding: 0 0.25rem;
    color: white;
    border: 0;
    border-right: 1px solid variables.$default-tint;
}
/* The line number cells */
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}
pre mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
}
pre table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.highlight {
    background-color: variables.$grey;
    border-radius: 3px;
    margin: 0 0 1rem;
    // line-height: 1.2;
    // padding: 1rem;

    pre {
        margin-bottom: 0;
        overflow-x: auto;
    }

    .lineno {
        color: variables.$default-tint;
        display: inline-block; // Ensures the null space also isn't selectable
        padding: 0 0.75rem 0 0.25rem;
        // Make sure numbers aren't selectable
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
}
