{% include "partials/darkmode.html" %}

<header>
  <section class="nav-container">
    <a class="nav-title" href="{{ config.base_url | safe }}">
      <h2>{{ config.title | default(value="Mabuya")}}</h2>
    </a>
    <nav>
      <ul>
        {% if config.extra.menu %}
        {% for menu in config.extra.menu %}
        <li><a href="{{ get_url(path=menu.url) | safe }}">{{ menu.name }}</a></li>
        {% endfor %} {% else %}
        <li><a href="{{ config.base_url | safe }}">Archive</a></li>
        <li><a href="{{ get_url(path='tags') | safe }}">Tags</a></li>
        {% endif %}
      </ul>
    </nav>
  </section>
</header>